/* #root {
  max-width: 1280px;
  margin: 0 auto;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Additional custom styles */
.ant-layout-sider-trigger {
  background-color: #f0f0f0 !important;
  color: #333 !important;
}

.ant-btn-primary:not(.ant-input-search-button) {
   background-color: #1890ff;
}

/* Đặt màu đen/xám cho nút trong Input.Search */
.ant-input-search .ant-btn-primary {
  background-color: #1f2937 !important; /* Màu đen xám */
  border-color: #1f2937 !important;
  color: white !important;
}
.ant-input-search .ant-btn-primary:hover {
  background-color: #374151 !important; /* Màu hover */
  border-color: #374151 !important;
}
.ant-input-search .ant-btn-primary:active {
  background-color: #111827 !important; /* Màu active */
  border-color: #111827 !important;
}

.ant-btn-primary.ant-btn-dangerous {
  background-color: #ff4d4f;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f5f5f5 !important;
  font-weight: normal !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled):hover {
   background-color: #f5f5f5 !important;
}
